/* var */

:root{
    --header-color: #000;
    --h1-color: #393C41;
    --h2-color: #6E7378;
    --btn-dark-bg: rgba(23,26,32,0.8);
    --btn-light-bg: rgba(255,255,255,0.65);
    --btn-dark: #000;
    --btn-light: #FFF;
}

/*fonts*/

@font-face {
    font-family: 'GothamMedium';
    src: url(../fonts/GothamMedium.otf);
}

@font-face{
    font-family: 'GothamBook';
    src: url(../fonts/GothamBookRegular.otf);
}

body{
    font-family:'GothamMedium', Helvetica, Arial;
    font-size:14px;
    margin: 0px;
}

/*header*/

.header-lp  {
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 50px;  
    width:100vw;
    /*efeito do menu flutuando por cima*/
    position:fixed;
    left: 0;
    top: 0;
    /**/
}

.header-lp ul,
.header-lp li{
    list-style: none;
} 

.header-lp .leftside .logo{
    width: 120px;
    margin-left: 20px;
}

.header-lp .middle ul{
    display: flex;
}

.header-lp .middle li{
    margin: 0 10px;
}

.header-lp .middle a{
    text-decoration: none;
    color: var(--header-color);
    text-transform: uppercase;
}

.header-lp .rightside ul{
    display: flex;
}

.header-lp .rightside li{
    margin: 0 10px;
}

.header-lp .rightside a{
    text-decoration: none;
    color: var(--header-color);
    text-transform: uppercase;
}

/*hamburguer*/

.header-lp .hamburguer{
    width:18px;
    height:16px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    cursor: pointer;
}

.header-lp .hamburguer div{
    height:2px;
    background-color: var(--header-color);
}

/*main*/

.main-content{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
   
}

.main-content .info-content{
    height: min(45%, 250px);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.main-content .info-content h1{
    margin: 0;
    font-size:40px;
    font-weight: normal;
    color: var(--h1-color)
}

.main-content .info-content h2{
    margin: 0;
    font-size:14px;
    font-weight: normal;
    font-family: 'GothamBook', Helvetica, Arial;  
    color: var(--h2-color);
}

.main-content .info-content h2 a{ 
    color: var(--h1-color);
}

/*footer*/

.footer-lp{
    position: fixed;
    left: 0;
    bottom: min(10%, 30px) ;
    right: 0;
}

.footer-lp .btn-area{
    display: flex;
    justify-content: center;
}


.footer-lp .btn-area a{
    display: block;
    width: 220px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    border-radius:30px;
    margin: 0 10px;
}

.footer-lp .btn-area .btn.dark{
    background-color: var(--btn-dark-bg);
    color: var(--btn-light);
}

.footer-lp .btn-area .btn.light{
    background-color: var(--btn-light-bg);
    color: var(--btn-dark);
}

.footer-lp .arrow-content {
    display:flex;
    justify-content:center;
    margin-top:30px;
    height: 30px;
}

/*arrow animation*/

@keyframes arrow-animation-move{
    0%{
        margin-top:0px;
    }
    50%{
        margin-top:15px;
    }
    100%{
        margin-top:0px;
    }
}

.footer-lp .arrow-content img.arrow-down{
    height: 15px;
    animation: 'arrow-animation-move' 2s;
    animation-iteration-count: infinite;
}